*
{   
	margin:0px;
	padding:0;
}

body,html
{
	background-color: white;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1{
	font-family: "Times New Roman", Times, serif;
	text-align: left;
    font-style: inherit;
    font-variant: small-caps;
    letter-spacing: 6px;
    color: white;
    margin-left: 20px;
    padding-top: 20px;
}

h2{
	    font-family: serif;
    text-align: right;
    font-style: normal;
    font-variant: no-contextual;
    color: white;
    font-size: 13px;
    margin-right: 20px;
    padding-bottom: 40px;
}

p{
	background-color: black;
	color: white;
	margin-right: 760px;
    margin-top: 15px;
    line-height: 1.4;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: .8px;
}
.heading{
	background-color: black;
	padding-bottom: 10px;
}



.fa {
	padding: 8px;
    font-size: 25px;
    width: 25px;
    text-decoration: none;
    margin: 0px 2px;
    border-radius: 0%;
	-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
  }
  
  @keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
.fa:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }

  .fa-instagram {
	background: #c73c12;
	color: white;
  }

.social{
  	float: right;
    margin-top: -45px;
    margin-right: 18px;
  }

.me{
	height: 400px;
    width: 503px;
    margin-top: 15px;
}

h3{
	font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-style: inherit;
    font-variant: small-caps;
    letter-spacing: 6px;
    color: white;
    font-size: 45px;
    margin-bottom: -116px;
    margin-top: -320px;
    background-color: black;
    margin-left: 520px;
}

h4{
    color: black;
    margin-top: 390px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
  }

.quotes p{
    background-color: white;
    color: black;
    text-align: center;
    padding: 0;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 20px;
    transition: 200ms;
}

.highlt{
  background-color:#82c59e!important;
  border-radius: 10px;
  border: 1px;
  transition: 200ms;
}

.highlt:hover{
  background-color:#447b5b!important;
  transition: 300ms;
}

footer p {
  background-color: black;
  color: white ;
  padding: 20px;
  padding-left: 470px;
  margin-right: 0px;
}